.app-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    // background-color: white;
    background-image: url('../../assets/images/white-bg.jpg');
    border-top: 2px solid red;
    height: 5vh;
}