.question-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: auto;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    border: 3px solid red;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 8px 6px -6px black;
    background-image: url('../assets/images/white-bg.jpg');
    background-size: 50%;
    font-size: 25px;
    input {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 50%;
        border-radius: 1rem;
        border: red 1px solid;
        font-size: 15px;
    }
    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        button {
            margin: auto;
            max-width: 50%;
            border-radius: 0.5rem;
            border: solid 0.2rem red;
            color: red;
            font-size: 20px;
        }
    }
}

.results-container {
    button {
        margin: auto;
        max-width: 50%;
        border-radius: 0.5rem;
        border: solid 0.2rem red;
        color: red;
        font-size: 20px;
    }
}